/* Base Application Styles */
body {

margin-top: "-200px";
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
     color: 'inherit' !important; 
}
/* for even spacing of the Info Cards
.css-jhdc2n-MuiGrid-root>.MuiGrid-item {padding-left: 16px; margin: auto;}
/* remove the padding in the InfoCard component 
.css-46bh2p-MuiCardContent-root {
     padding: 0px !important; }
/* over-writing the default AppBar style*/
.css-11b3ww9-MuiPaper-root-MuiAppBar-root {background-color:'white' !important}

/* Over-writing the default container style */
.css-1u8t36f-MuiContainer-root{padding-top: 34px !important;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-card-width{width: 420px}

#banner{margin-top: -90px;}
.banner-image{ margin: 0px auto;
  border-radius: 4px;
  width: 100%;
  max-height: 400px;
  display: block;}

.driver1-image{width: 100%}

#reservation-details{ border: 1px inset black;}
.company{ display: flex;
  justify-content: center;
  align-items: center;}
#centered-title{ display: flex;
  justify-content: center;
  align-items: center;}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  /**  animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 350vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.standard-deal {
   
    border: 2px inset crimson;
    color: rgb(0, 0, 0);
    max-width: 350px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.column {
    float: left;
    width: 40%;
    margin-left: 10%;
}
.column-right{float: right; width: 40%}

.row{margin-top: 30px; margin-bottom: 30px; background-color: #9f9696;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/**********************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/******************end Switcher********/